<style>
  #categoriess {
    text-decoration: underline;
  }
</style>
<main>
  <h1>Edit category</h1>
  <form
    class="controller-form"
    action="/categories/<%= categoryDetails.category_id %>"
    method="post"
  >
    <label for="category_name">Name</label>
    <input type="hidden" name="_method" value="put" />
    <input
      type="text"
      name="category_name"
      id="category_name"
      required
      minlength="3"
      maxlength="20"
      value="<%= categoryDetails.category_name %>"
    />

    <label for="category_description">Description</label>
    <textarea
      name="category_description"
      id="category_description"
      cols="30"
      rows="10"
      required
    >
<%= categoryDetails.category_description %></textarea
    >

    <button>EDIT</button>
  </form>
</main>
