<main>
  <h1>Categories</h1>
  <section class="category">
    <h2>Category Name</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim est iure
      blanditiis omnis autem dignissimos illum! Veniam quaerat quis
      necessitatibus maxime facilis velit deleniti corrupti recusandae a,
      dignissimos laborum quos. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ipsam vitae laboriosam alias necessitatibus soluta
      delectus, odit autem nisi atque aliquid ad doloremque nulla distinctio
      placeat, quia tenetur deleniti veniam officia.
    </p>
  </section>
</main>
