<main id="login">
  <div class="login">
    <h2>Login</h2>
    <form action="">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        autocomplete="off"
        required
      />

      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        required
      />

      <button>Login</button>
    </form>
  </div>
</main>
