<main class="top-spacing">
  <div class="login">
    <h2>Login</h2>
    <form action="/sessions" method="post">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        autocomplete="off"
        required
      />

      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        required
      />

      <button>Login</button>
      <p>Don't have an account? <a href="/signup">Sign up.</a></p>
      <% if (typeof message !== "undefined") { %>
      <p class="error-msg"><%= message %></p>
      <%} %>
    </form>
  </div>
</main>
