<style>
  #signupp {
    text-decoration: underline;
  }
</style>
<main class="top-spacing">
  <div class="login">
    <h2>Signup</h2>
    <form action="/signup" method="post">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Name"
        autocomplete="off"
        required
      />

      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        autocomplete="off"
        required
      />

      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        required
      />

      <input
        type="password"
        name="password2"
        id="password2"
        placeholder="Confirm Password"
        required
      />

      <button>Signup</button>
      <p>Already have an account? <a href="/login">Sign in.</a></p>

      <% if (typeof message !== 'undefined') { %>
      <p class="error-msg"><%= message %></p>
      <% } %>
    </form>
  </div>
</main>
