<main id="login">
  <div class="login">
    <h2>Signup</h2>
    <form action="">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Name"
        autocomplete="off"
        required
      />

      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        autocomplete="off"
        required
      />

      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        required
      />

      <input
        type="password"
        name="password2"
        id="password2"
        placeholder="Confirm Password"
        required
      />

      <button>Signup</button>
    </form>
  </div>
</main>
